::ng-deep .mat-tooltip {
  color: var(--primary-color) !important;
  background-color: white !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  border-radius: 30px !important;
  border: 2px solid var(--primary-color) !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  text-align: center !important;
  max-width: unset !important;
  white-space: pre-wrap !important;
}

