:host ::ng-deep.custom-dialog-container .mat-dialog-container {
    display: block;
    padding: 24px;
    border-radius: 15px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
    border-style: solid;
    border-color: var(--primary-color);
}

.mat-dialog-actions {
    justify-content: center;
}
