<mat-form-field appearance="outline"  [hideRequiredMarker]="hideRequiredMarker">
    <mat-label *ngIf="label">{{ label | translate}}</mat-label>
    <mat-date-range-input
            [formGroup]="control"
            [rangePicker]="dateRangePicker"
            [comparisonStart]="compareTo?.start"
            [comparisonEnd]="compareTo?.end"
            [matTooltipDisabled]="!hasTooltip"
            [matTooltip]="tooltipTxt"
            [max]="max"
            [min]="min">
        <input matStartDate placeholder="{{'general.from' | translate}}" formControlName="start">
        <input matEndDate placeholder="{{'general.to' | translate}}" formControlName="end">
    </mat-date-range-input>
    <mat-hint *ngIf="hint" class="hint"><h5>{{hint | translate}}</h5></mat-hint>
    <mat-datepicker-toggle matSuffix [for]="dateRangePicker"></mat-datepicker-toggle>
    <mat-date-range-picker #dateRangePicker></mat-date-range-picker>
</mat-form-field>
